<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Aplicacion02_1_JSP</display-name>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/Error.jsp</location>
    </error-page>
    <servlet>
        <display-name>ControladorLibros</display-name>
        <servlet-name>ControladorLibros</servlet-name>
        <servlet-class>com.nunez.servlets.ControladorLibros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorLibros</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping> 
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
